.layout {
    background-color: #F4F4F4;
    padding-bottom: 26px;

    .header__wrapper {
        padding: 32px;
        width: 100%;

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            h1 {
                margin: 0;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
    
            .logout {
                display: flex;
                align-items: center;
                cursor: pointer;
    
                .logout__text {
                    margin: 0 12px 0 0;
                }
            }
        }
    }

    .hotels {
        &__container {
            margin: 0 auto;
            display: flex;
            width: fit-content;

            .sidebar {
                margin-right: 24px;

                .search__wrapper {
                    margin-bottom: 24px;
                    width: 360px;
                }
                .favorites__wrapper {
                    width: 360px;
                }
            }
            
            .results__wrapper {
                max-width: 664px;
            }
        }

        @media (max-width: 1061px) {
            .hotels__container {
                flex-direction: column;

                .sidebar {
                    display: flex;
                    margin: 0;

                    .search__wrapper {
                        margin-right: 24px;
                    }
                }

                .results__wrapper {
                    width: 100%;
                }
            }
        }

        @media (max-width: 774px) {
            .hotels__container {

                .sidebar {
                    flex-direction: column-reverse;
                    align-items: center;

                    .search__wrapper {
                        margin: 0 0 24px 0;
                    }

                    .favorites__wrapper {
                        margin-bottom: 24px;
                    }
                }
            }
        }

        @media (max-width: 698px) {
            .hotels__container {

                .results__wrapper {
                    width: 360px;
                }
            }
        }
    }
}