.layout {
    background-color: #F4F4F4;
    padding-bottom: 26px;

    .header__wrapper {
        padding: 32px;
        width: 100%;

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            h1 {
                margin: 0;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
            }
    
            .logout {
                display: flex;
                align-items: center;
                cursor: pointer;
    
                .logout__text {
                    margin: 0 12px 0 0;
                }
            }
        }
    }

    .hotels {
        &__container {
            margin: 0 auto;
            display: flex;
            width: fit-content;

            .sidebar {
                margin-right: 24px;

                .search__wrapper {
                    margin-bottom: 24px;
                    width: 360px;
                }
                .favorites__wrapper {
                    width: 360px;
                }
            }
            
            .results__wrapper {
                width: 664px;
            }
        }
    }
}